.container {
  background-color: transparent;
  /* opacity: 0; */
  padding: 16px;
  cursor: pointer;
}
.container:hover {
  background-color: white;
  color: black;
  animation: wiggle 3s linear 1;
}
.container h1 {
  background-image: linear-gradient(to top left, #ffd89b, #19547b);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.container-left {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.container-right {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}
.container-img {
  object-fit: cover;
  margin-bottom: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container h1 {
  color: #ea580c;
  font-size: 30px;
  margin-bottom: 8px;
}

.content p {
  font-size: 18px;
}
.content-btns {
  display: flex;
  justify-content: space-between;
  margin: 2px 4px;
}
.btn {
  border-radius: 6px;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-view {
  background-image: linear-gradient(to top left, #3a1c71, #d76d77, #ffaf7b);
  color: black;
}
.btn-code {
  background-image: linear-gradient(to top left, #3a1c71, #d76d77, #ffaf7b);
  border: 1px solid white;
}
.btn-code:hover {
  background-color: white;
  color: black;
}
.btn-view:hover {
  background-color: white;
  color: white;
}

@media screen and (max-width: 768px) {
  .container-left {
    border-bottom: 2px solid white;
    border-right: none;
  }
  .container-right {
    border-bottom: 2px solid white;
    border-left: none;
  }
}

.div-h1 > h1 {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
